{% extends 'main.html' %} {% block content %}
<style>
  .item{
    background-color: white;
    border-radius: 20px;
  }
</style>

<!-- Render a single item -->
<div class="container-fluid mt-2 item">
  <form method="POST" action="">
    {% csrf_token %} 
    
    {{ form.as_p }}
    <a href="{% url 'index' %}">Go back</a>

    <!-- Product info -->
    <h1>{{ product.name }}</h1>

    {% if product.image %}
    <img class="img-fluid"
      src="{{ product.image.url }}"
      alt="image for product: {{ product.name }}"
      style="height:200px;"
    />
    {% endif %}

    <p>Cost: {{ product.point_cost }} points</p>
    <p>{{ product.amount_sold }} sold</p>
    <a href="{% url 'buy_page' product.id %}" type="submit" value="Send" style="font-weight:bold">Buy</a>
    
    <p>Recent purchasers:</p>
    {% for user in recent_purchasers %}
      <p>{{ user }}</p>
    {% endfor %}
  </form>

  <!-- Render error messages, if needed -->
  {% for message in messages %}
    <div class="alert alert-success">
      <a class="close" href="#" data-dismiss="alert">×</a>
          {{ message }}
    </div>
  {% endfor %}
</div>

{% endblock %}
