{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST" action="">
        {% csrf_token %} 
        
        {{ form.as_p }}
        <a href="{% url 'index' %}">Go back</a>

        <h1>{{ product.name }}</h1>
        <p>Cost: {{ product.point_cost }} points</p>
        <p>{{ product.amount_sold }} sold</p>

        <img src="{{ product.image.url }}" alt="image for product: {{ product.name }}" style="max-height:100px">
        <a href="{% url 'buy_page' product.id %}", type = "submit", value = "Send">Buy</a>
        
        <p>Last three users purchasing item:</p>
        {% for user in recent_purchasers %}
        <p>{{ user }}</p>
        {% endfor %}
      </form>


      {% for message in messages %}
      <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
      </div>
      {% endfor %}
</div>


{% endblock %}
