{% extends 'main.html' %} {% block content %}

<style>
  .item{
    background-color: white;
    border-radius: 20px;
  }

  .panel{
    background-color:#2A9D8F;
    border-radius: 20px;
    height: 100%;
  }
</style>

<div class="container">
  <!-- Header -->
  <div class="row my-4">
    <div class="col"></div>

    <div class="col-4 panel text-center">
      <p style="font-size:50px">Store</p>
    </div>

    <div class="col"></div>
  </div>

  <!-- Products -->
  <div class="row" style="justify-content: center;">
    {% for product in products %}
    <div class="col-3 item shadow m-3 text-center py-2">
      <a href="{% url 'buy' product.id %}" class="mb-2" style="color:#2a9d8f; font-weight: bold;">{{ product.name }}</a>
      <br>

      {% if product.image %}
      <img
          class="rounded-circle z-depth-2 img-fluid"
          alt="{{ product.name }} image"
          src="{{ product.image.url }}"
          style="height: 150px; width: 150px;"
      />
      <br>
      {% endif %}

      <p1>Cost: {{ product.point_cost }} points</p1>
      <br>

      <p1>{{ product.amount_sold }} sold</p1>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
