{% extends 'main.html' %} {% block content %}

<div class="inbox-container">
	<h1>Inbox</h1>
	<div>
		<ul class="list-group">
			{% for convo, name, first in names %}
			<li class="list-group-item">
				<a
					class="btn btn-primary text-left"
					href="{% url 'conversation' convo.id %}"
					role="button"
				>
					{{ name }}
					<br />
					&emsp;{%if first.sender.get_full_name == user_name %}You:{% else %}
					{{first.sender.first_name}}:
					<br />
					{% endif %} {{first}}
				</a>
			</li>
			<hr />
			{% endfor %}
			<p>
				<a class="btn btn-success" href="{% url 'createConvo' %}" role="button">
					New Message
				</a>
			</p>
		</ul>
	</div>
</div>

{% endblock %}
