{% extends 'main.html' %} {% block content %}

<div class="inbox-container">
	<h1>Inbox</h1>
	<div>
		<ul class="list-group">
			{% for convo in convos %}
			<li class="list-group-item">
				<a
					class="btn btn-primary"
					href="{% url 'conversation' convo.id %}"
					role="button"
				>
					{{ convo.name }}
				</a>
			</li>
			<hr />
			{% endfor %}
			<p>
				<a class="btn btn-success" href="{% url 'createConvo' %}" role="button">
					New Message
				</a>
			</p>
		</ul>
	</div>
</div>

{% endblock %}
