
{% extends 'main.html' %} {% block content %}

<style>
	.panel {
		background-color:#2A9D8F;
		border-radius:5%;
		height: 100%;
	}

    .top-panel {
        margin-right: 1%;
    }

    .user-panel {
        margin-top: 2%;
        margin-right: 1%;
    }

	.point-panel {
		margin-top: 2%;
	}
</style>

<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-4 panel">
        <center style = "font-size: 50px">LeaderBoard</center>
      </div>
      <div class="col">
      </div>
    </div>
    
    <div class="row">
        <div class="col-8 top-panel">
            <center style = "font-size: 30px">Username</center>
        </div>
        <div class="col-2">
            <center style = "font-size: 30px">Score</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-white user-panel">
            <center style = "font-size: 20px">User 1</center>
        </div>
        <div class="col-2 border border-dark rounded bg-white point-panel">
            <center style = "font-size: 20px">10,000</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-white user-panel">
            <center style = "font-size: 20px">User 2</center>
        </div>
        <div class="col-2 border border-dark rounded bg-white point-panel">
            <center style = "font-size: 20px">9,700</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-white user-panel">
            <center style = "font-size: 20px">User 3</center>
        </div>
        <div class="col-2 border border-dark rounded bg-white point-panel">
            <center style = "font-size: 20px">9,100</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-info user-panel text-white">
            <center style = "font-size: 20px">User 4</center>
        </div>
        <div class="col-2 border border-dark rounded bg-info point-panel text-white">
            <center style = "font-size: 20px">8,600</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-info user-panel text-white">
            <center style = "font-size: 20px">User 5</center>
        </div>
        <div class="col-2 border border-dark rounded bg-info point-panel text-white">
            <center style = "font-size: 20px">8,400</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-info user-panel text-white">
            <center style = "font-size: 20px">User 6</center>
        </div>
        <div class="col-2 border border-dark rounded bg-info point-panel text-white">
            <center style = "font-size: 20px">7,701</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-info user-panel text-white">
            <center style = "font-size: 20px">User 7</center>
        </div>
        <div class="col-2 border border-dark rounded bg-info point-panel text-white">
            <center style = "font-size: 20px">7,700</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-info user-panel text-white">
            <center style = "font-size: 20px">User 8</center>
        </div>
        <div class="col-2 border border-dark rounded bg-info point-panel text-white">
            <center style = "font-size: 20px">7,300</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-info user-panel text-white">
            <center style = "font-size: 20px">User 9</center>
        </div>
        <div class="col-2 border border-dark rounded bg-info point-panel text-white">
            <center style = "font-size: 20px">6,800</center>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border border-dark rounded bg-info user-panel text-white">
            <center style = "font-size: 20px">User 10</center>
        </div>
        <div class="col-2 border border-dark rounded bg-info point-panel text-white">
            <center style = "font-size: 20px">6,000</center>
        </div>
    </div>
  </div>

{% for user, points in users %}
    <div>
        <a>{{ user }}</a>
        <a>{{ points }}</a>
        <hr />
    </div>
{% endfor %}

{% endblock %}
