{% extends 'main.html' %} {% block content %}

<style>
	.panel {
		background-color: #2A9D8F;
		border-radius: 20px;
		height: 100%;
        margin-top: 20px;
	}

    .point-panel {
		margin-top: 2%;
	}

    .top-panel {
        margin-right: 1%;
    }

    .user-panel {
        margin-right: 1%;
        margin-top: 2%;
    }
</style>

<div class="container">
    <!-- Header -->
    <div class="row">
      <div class="col"></div>

      <div class="col-4 panel text-center">
        <h1>Leaderboard</h1>
      </div>
      
      <div class="col"></div>
    </div>
    
    <!-- Titles -->
    <div class="row text-center mt-4">
        <div class="col-8 top-panel">
            <h2>Username</h2>
        </div>

        <div class="col-2">
            <h2>Score</h2>
        </div>
    </div>

    <!-- Render first 3 users in a different format - need to do so differently if there's few users registered -->
    {% if num_entries > 3 %}
        {% for user, points in subset1 %}
        <div class="row text-center">
            <div class="col-8 border border-dark rounded bg-white user-panel">
                <a href="{% url 'profile' user.id %}" style="font-size:20px">{{ user.username }}</a>
            </div>

            <div class="col-2 border border-dark rounded bg-white point-panel">
                <p style="font-size: 20px">{{ points }}</p>
            </div>
        </div>
        {% endfor %}

        <!-- Render remaining users -->
        {% for user, points in subset2 %}
        <div class="row text-center">
            <div class="col-8 border border-dark rounded bg-info user-panel text-white">
                <a href="{% url 'profile' user.id %}" style="font-size:20px; color:white;">{{ user.username }}</a>
            </div>

            <div class="col-2 border border-dark rounded bg-info point-panel text-white">
                <p style="font-size: 20px">{{ points }}</p>
            </div>
        </div>
        {% endfor %}

    {% else %}

    {% for user, points in user_data %}
        <div class="row text-center">
            <div class="col-8 border border-dark rounded bg-white user-panel">
                <a href="{% url 'profile' user.id %}" style="font-size: 20px">{{ user.username }}</a>
            </div>

            <div class="col-2 border border-dark rounded bg-white point-panel">
                <p style="font-size: 20px">{{ points }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
  </div>

{% endblock %}
