{% extends 'main.html' %} {% block content %} {% load static %}
<head>
	<!-- Scripts required for handling emojis -->
	<script
		src="https://cdn.tiny.cloud/1/tk29zolrf951wd9vs5320xksjrmqle7n0chxq2h7ak419npc/tinymce/5/tinymce.min.js"
		referrerpolicy="origin"></script>
	<script>
		tinymce.init({
			selector: "#body",
			plugins: "emoticons",
			toolbar: "emoticons",
			toolbar_location: "bottom",
			menubar: false,
			height: 450,
			width: 450,
		});
	</script>
</head>

<style>
	#tips {
		background: #5bc0de;
		border-radius: 15px;
		font-size: 15px;
		margin: 10px;
		max-width: 600px;
		padding: 15px;
	}
</style>

<div>
	<p id="tips">
		Emojis worth 10 points: 🐶 | 🐱 | 🦋 | 🐢 | 🦄 | 🐰 | 🐾 | 🦩 | 🦈 | 🦖
		<br />
		Type ':' followed by any text to see a list of emojis
	</p>

	<div class="container-fluid mt-3">
		<form method="POST" action="" style="font-weight: bolder">
			{% csrf_token %} {{ form.media }} {{ form.as_p }}

			<input class="btn btn-success mt-2" type="submit" value="Send" />
		</form>
	</div>

	<!-- Render error messages, if needed -->
	{% for message in messages %}
		<div class="alert alert-success">
			<a class="close" href="#" data-dismiss="alert">×</a>
			{{ message }}
		</div>
	{% endfor %} 
</div>

{% endblock %}
