{% extends 'main.html' %} {% block content %}

<style>
	.panel {
		background-color:#2a9d8f;
		border-radius:5%;
		height: 100%;
	}

	.side-panel {
		margin-top: 15%;
	}
</style>

<body>
	<div class="container-fluid row">
		<div class="col col ml-5 side-panel d-inline text-center shadow rounded-3 panel">
			<!-- Only show purchases if toggled on -->
			{% if purchases.count > 0 and profile.displayPurchases or purchases.count > 0 and current_user.username == user.username %}
			<div>
				<h4 class="mt-4" style="font-weight:bolder;">PURCHASES</h4>

				<!-- Make sure the purchases don't error out -->
				{% for purchase in purchases %}
				<div class="py-3 overflow-auto">
					<img
						class="z-depth-2 img-fluid"
						alt="Image of purchase: {{ purchase.product.name }}"
						src="{{ purchase.product.image.url }}"
						style="max-height: 100px"
					/>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		<!-- Empty div to pad out the grid -->
		<div class="col col"></div>

		<div class="col col-4 p-5 text-center mt-5 mx-auto shadow rounded-3 border border-dark panel">
			<!-- Only show a profile image if one is set -->
			{% if profile.image and profile.image.url %}
			<img
				class="rounded-circle z-depth-2 img-fluid"
				alt="{{ user.get_full_name }}'s profile picture"
				src="{{ profile.image.url }}"
				style="max-height: 200px;"
			/>
			{% endif %}

			<h3>@{{ user.username }}</h3>
			<h1>{{ user.get_full_name }}</h1>

			{% if profile.bio %}
			<div class="mb-3">{{ profile.bio }}</div>
			{% endif %}

			<!-- Make sure a user can only edit the profile that's theirs -->
			{% if current_user.username == user.username %}
			<div style="margin-top:8%;">
				<a
					class="mb-2 d-inline-block btn btn-light"
					href="{% url 'updateProfile' user.id %}"
					role="button"
				>
					Edit Profile
				</a>
				<a
					class="mb-2 d-inline-block btn btn-light"
					href="{% url 'changePassword' user.id %}"
					role="button"
				>
					Change Password
				</a>

				<!-- Show an error if needed for updating profile -->
				{% for message in messages %}
				<div class="alert alert-success">
					<a class="close" href="#" data-dismiss="alert">×</a>
					{{ message }}
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		<!-- Empty div to pad out the grid -->
		<div class="col col"></div>
		
		<div class="col col mr-5 align-middle side-panel points-panel d-inline text-center shadow rounded-3 panel">
			<!-- Only show points if toggled on -->
			{% if profile.displayPoints or current_user.username == user.username %}
				<h4 class="mt-4" style="font-weight:bolder;">POINTS</h4>
				<h4 class="mb-4">{{ profile.allTimePoints }}</h4>
			{% endif %}

			<!-- Only show current spendable points if the user is on their own page -->
			{% if current_user.username == user.username %}
				<h4 style="font-weight:bolder;">WALLET</h4>
				<h4 class="mb-4">{{ profile.wallet }}</h4>

				<h4 style="font-weight:bolder;">SENDABLE</h4>
				<h4 class="mb-4">{{ profile.points }}</h4>
			{% endif %}
		</div>
	</div>
</body>

{% endblock %}
