{% extends 'main.html' %} {% block content %}

<style>
	.profile-page {
		text-align: center;
		border: 3px solid green;
	}
</style>

<body>
	<center>
		<div class="profile-page">
			<h1>@{{ user.username }}</h1>
			<h3>{{ user.get_full_name }}</h3>
			<h4>{{ user.email }}</h4>
			{% if profile.image %}
				<img src="{{ profile.image.url }}" style="max-height:300px">
			{% endif %}
			<div class="bio">{{ profile.bio }}</div>

			<hr>
			<a class="btn btn-primary" href="{% url 'updateProfile' user.id %}" role="button">Update Profile</a>
		</div>
	</center>
</body>

{% endblock %}
